@charset "utf-8";

html{
	font-size: 62.5%;
}
body{
	color: $TEXT_COLOR;
	font-size: 1.4rem;
	font-family: Lato, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	letter-spacing: .1rem;
}