@charset "utf-8";

// break points
// ------------------------------------------------------------------------
$BREACKPOINT_PC: 1080px;
$BREACKPOINT_TB: 920px;
$BREACKPOINT_SP: 640px;

// path
// ------------------------------------------------------------------------
$PATH_IMG: "../img/";

// base color
// ------------------------------------------------------------------------
$BASE_COLOR: #006eb3;

// text color
// ------------------------------------------------------------------------
$TEXT_COLOR: #333;