doctype html

include /data/_config

html(lang="ja")
	head
		include /module/partial/_meta

	body
		.l-wrapper
			include /module/partial/_header

			.l-contents
				include /module/page/_top
				p ossd

			include /module/partial/_footer
			include /module/partial/_scripts