@charset "utf-8";

// wrapper
// --------------------------------------------------
.l-wrapper{
	width: 100%;
	margin: auto;
}

// contents
// --------------------------------------------------
.l-contents{
	width: 100%;
}

// header
// --------------------------------------------------
.l-header{
	width: 100%;
}

// footer
// --------------------------------------------------
.l-footer{
	width: 100%;
}